body {
    font-size: 62.5%;
    background-color: #D5D6BC;
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-inverse {
    background-color: #5C755E;
    border-color: #444444;
}

.nav a {
    color: #ffff00;
    font-size: 2.5em;
    padding: 30px 10px;
    font-family: 'CooperHewittLight';




}

.nav {
    padding-left: 10px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 3em;
    font-family: 'CooperHewittLight';

}

.nav li {
    display: list-item;
}

/*.pictures{
  height: 300px;
  width: auto;
}*/

.pictures img{
    display: inline-block;
    max-height: 300px;
    width: 300px;
}

.jumbotron {
    height: 200px;
    color: #ecf8f2;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px;
    background-color:transparent !important;
}

.jumbotron .container {
    position: relative;
    top:40px;
    color: #ecf8f2;

    text-align: center;
}

.jumbotron h1 {
    color: #444444;
    font-size: 9.0em;
    font-family: 'SimplePrintRegular';
    font-weight: bold;
    font-style: normal;
}

.jumbotron p {
    font-size: 4.0em;
    color: #5e5e5e;
    font-family: 'SimplePrintRegular';
    font-weight: normal;
    font-style: normal;
}

.jumbotron a {
    font-size: 3.0em;
}


.learn-more {
    background-color: #5C755E;

}

.learn-more h3 {
    font-size: 4.0em;
    color: #ffffff;

    font-family: 'SimplePrintRegular';
    font-weight: normal;
    font-style: normal;
}

.learn-more a {
    color: #eee4d5;
    font-family: 'SimplePrintRegular';
    font-weight: normal;
    font-style: normal;

}
.learn-more p {
    font-size: 3.0em;
    color: #ffffff;
    font-family: 'SimplePrintRegular';
    font-weight: normal;
    font-style: normal;
}

.panel-body {
    background-color: #f5f1de;
}

.list-group-item {
    background-color: #f5f1de;
}
